


    @import url("~./template/bootstrap.css");
    @import url("~./template/icomoon.css");
    @import url("~./template/flag-icon-css/css/flag-icon.min.css");
    @import url("~./template/vendors/css/extensions/pace.css");
    @import url("~./template/bootstrap-extended.css");
    @import url("~./template/app.css");
    @import url("~./template/colors.css");
    @import url("~./template/core/menu/menu-types/vertical-menu.css");
    @import url("~./template/core/menu/menu-types/vertical-overlay-menu.css");
    @import url("~./template/core/colors/palette-gradient.css");
    @import url("~./template/style.css");
    // @import url("~./template/ckeditor/contents.css");

